<a href="https://colab.research.google.com/github/asdfposmvdk/jun-soo/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2022학년도 1학년 1학기 프로그래밍(파이썬)수행평가
#한양공업고등학교 1학년 12반 13번 이준수

In [33]:
삼성전자=50000
삼성전자*=10
print ("총평가금액")
print(삼성전자)

총평가금액
500000

In [65]:
year="2020"
year=2020
print(type(year))
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

<class 'int'>
2019
2018
2017

In [58]:
string="홀짝홀짝홀짝"
print(string[0],string[2],string[4])

홀 홀 홀

In [57]:
string="python"
print(string[-1:],string[-2:-1],string[-3:-2],string[-4:-3],string[-5:-4],string[-6:-5],string[-7:-6])

n o h t y p

In [77]:
movie_rank=['닥터 스트래인지','스플릿','럭키','배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트래인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [74]:
nums=[1,2,3,4,5,6,7,8,9,10]
nums.clear()
nums.extend([1,3,5,7,9])
nums

[1, 3, 5, 7, 9]

In [81]:
data=[2,4,3,1,5,10,9]
print([data[3],data[0],data[2],data[1],data[4],data[6],data[5]])

[1, 2, 3, 4, 5, 9, 10]

In [84]:
name1="김민수"
age1=10
name2="이철희"
age2=13
print("이름:",name1,"나이:",age1)
print("이름:",name2,"나이:",age2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13